 <h3>Task</h3>

 <p>
   Hola, alguien no esta de acuerdo con tu trabajo entregado en una tarea.
 </p>

 <p>
  	Comentario:	<%= @comment %>
 </p>

 <%= link_to  "Ir al salon" , classroom_url(@classroom) %>


 <p>
   Task evaluará la situación y checará si de verdad se cancela la tarea, o se acepta el pago de la tarea.
 </p>

 <p>
   User: <%= @salon.homework.user.name %> <%= @salon.homework.user.firs_last_name %>
 </p>

 <p>
   User email: <%= @salon.homework.user.email %>
 </p>

 <p>
   Costo:<%= @cost %>
 </p>


  <p>
  	Saludos.

  	Task 2018.
  </p>
