<body class="white-background">


<center>
  <h5> Chat: <%= @chat_room.title %></h5>
</center>


<div id="messages" data-chat-room-id="<%= @chat_room.id %>">
  <%= render @chat_room.messages %>
</div>


<%= form_for @message, url: '#' do |f| %>
  <%= hidden_field_tag 'chat_room_id', @chat_room.id %>

  <%- if current_user %>
  	<%= f.hidden_field :user_id, :value => current_user.id %>
  <% end %>

  <%- if current_admin %>
  	<%= f.hidden_field :admin_id, :value => current_admin.id %>
  <% end %>


  <div class="input-field col full-width">
    <%= f.text_area :body, class: 'anchoLetra materialize-textarea', placeholder:"Escribe aqui cualquier duda que tengas para el tasker o estudiante" %>

  </div>

  <%= f.submit "Enviar", class: 'btn-large full-width' %>
<% end %>


<br>
<br>

	<center>
		<%= link_to "Ir al salon", classroom_path(id: @chat_room.classroom_id) , class:"btn text-center" %>
	</center>

<br>
<br>

</body>
