= form_for @classroom do |f|
  - if @classroom.errors.any?
    #error_explanation
      %h2= "#{pluralize(@classroom.errors.count, "error")} prohibited this classroom from being saved:"
      %ul
        - @classroom.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :homework
    = f.text_field :homework
  .field
    = f.label :status
    = f.number_field :status
  .field
    = f.label :user
    = f.text_field :user
  .field
    = f.label :admin
    = f.text_field :admin
  .actions
    = f.submit 'Save'
