%head
	%meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/

%body.white-background
	= render "partials/noticeToast"


:javascript
	$(document).ready(function() {
		$("#deadline").countdown(new Date("#{@deadline}"), function(event) {
			$(this).text(
			  event.strftime('%D dias %H:%M:%S')
			);
		});
	});

	


.row
	/columna de la tarea
	.col.s12.l3.lighten-4

		-if @homework.status == 3
			%h5.top15.pink-text
				%p Tarea finalizada

				
		.card.z-depth-2
			.card-content
				%span.card-title
					= @homework.name
				%p
					%b
						="Descripción:"
				.texto_justificado
					= simple_format(@homework.description)

				%p.top15
					%b
						="Materia:"
				=TC::Type.find(@homework.tipo).tipo

				%p.top15
					%b
						="Fecha de entrega:"
				.pink-text
					= fechaBonita @classroom.proposal.deadline

				%div.top15
					%b
						="Archivos:"
					- @homework.archives.each do |archive|
						%p
							= link_to archive.archivo_file_name, archive.archivo.url(:original, false)

				%p.top15
					%b
						="Propuestas:"
					= @homework.proposals.count

				%p.top15
					%b
						="Precio:"
					= "$" + @classroom.proposal.cost.to_s

				%p.top15.fecha_pequena
					= fechaBonita @homework.created_at




		.col.s12.l12.lighten-4

			-if @classroom.chat_room
				=link_to "Chatear: #{@classroom.chat_room.messages.count}", @classroom.chat_room , class:"btn green top15"

			.fontSize18
				%b
					="Tiempo para la fecha de entrega: "
				#deadline

			-if current_admin && @classroom.scoreTrabajador

				%h5
					%b
						="Calificación: #{@classroom.scoreTrabajador}/5"

			
			-if current_admin && @classroom.archive_classrooms.count > 0 && @homework.status != 3

				.border-line-creditcard.top30
				
				=link_to "Finalizar tarea", finish_homework_path(homework_id: @homework.id,proposal_id:@proposal.id),data: { confirm: 'Estás seguro de ya terminar esta tarea? Los archivos que hayas subido deben ser la tarea. Con esto se notificará al usuario para que el vea su tarea.' }, class:"btn blue top15"

			-if current_user && @homework.status == 3 && @classroom.user_accepts.nil?
				=link_to "Estoy satisfecho", agree_homework_path(homework_id: @homework.id,proposal_id:@proposal.id, classroom_id:@classroom.id), class:"btn blue top15"


			-if current_user && @homework.status == 3 && @classroom.user_accepts.nil?
				=link_to "No estoy satisfecho", disagree_homework_path(classroom_id:@classroom.id), class:"btn top15"
			
		/calificar al trabajador
		.col.s12.l12.lighten-4	
			-if current_user && !@classroom.user_accepts.nil? && @homework.status == 3 && !@classroom.scoreTrabajador

				=link_to "Calificar", show_to_score_path(id: @classroom.id), :remote => true , class:"btn green top15"
				

	/Columna de las propuestas #############################################################
	.col.s12.l9.lighten-4.full-heigth

		%center
			%h4
				%b
					="Salon"

	
		.col.s12.l6
			/ESTUDIANTE ######
			.card.z-depth-2
				.card-content
					%span.card-title
						= "Estudiante"
					%p
						/=circle_img @user.avatar.url,50
						%img{:align => "middle", :alt => "Smiley face", :height => "50", :src => "#{@user.avatar.url}", :width => "50", :class => "circle cover"}
						= @user.name + " " + @user.firs_last_name

					.parent-flex
						%div.top15
							%b
								="Tareas:"
							= @user.homeworks.where(status: 3).count

						%div.top15.left15
							%b
								="Fecha de ingreso:"
							= fechaBonita @user.created_at


		.col.s12.l6
			/TRABAJADOR ######
			.card.z-depth-2
				.card-content
					%span.card-title
						= "Trabajador"
					%p
						%img{:align => "middle", :alt => "Smiley face", :height => "50", :src => "#{@admin.avatar.url}", :width => "50", :class => "circle cover"}
						= @admin.name + " "
						= @admin.last_name

					.parent-flex
						%div.top15
							%b
								="Tareas:"
							/por ahora solo cuenta las propuestas, pero de ahi hay que filtar
							/las que el status ya fue terminado, es decir, cuantas tareas a hecho
							= @admin.proposals.where(status: 3).count

						%div.top15.left15
							%b
								="Rango:"
							= @admin.rank.round(2)

						%div.top15.left15
							%b
								="Fecha de ingreso:"
							= fechaBonita @user.created_at



		/SUBIR NUEVOS ARCHIVOS AL SALON

		-if current_admin
			=form_tag('/classrooms/uploadFiles', multipart: true) do

				.col.s12.l10.top15
					%div.file-field.input-field
						%div.btn
							%span
								Add new files
							= file_field_tag "files[]", multiple: true
						%div.file-path-wrapper
							%input.file-path.validate{:type => "text"}

				=text_field_tag :id, nil,class:"ocultar", value: @classroom.id

				.col.s12.l2.top15
					%div.file-field.input-field
						=button_tag "Subir" , class: 'btn blue' , type: :submit



		/ARCHIVOS YA SUBIDOS
		.col.s12.l12.top15
			%center
				%h5
					%b
						="Archivos:"

		/CHECA SI HAY ARCHIVOS YA SUBIDOS
		-if @classroom.archive_classrooms.count <= 0
			.col.s12.l12.top15
				.card.z-depth-4
					.card-content.text-center
						= "Aun no hay archivos subidos"

		/ITERA ENTRE CADA ARCHIVO Y LO MUESTRA
		- @classroom.archive_classrooms.each do |archive|
			.col.s12.l12
				.card.z-depth-2
					.card-content
						= link_to archive.archivo_file_name, archive.archivo.url(:original, false)


		/ -if current_user && @homework.status == 3 && @classroom.user_accepts.nil?
		/ 	.col.s12.l12
		/ 		%h5
		/ 			="Recuerda oprimir alguno de los 2 botones, satisfecho o no satisfecho dependiendo de si te gustó la tarea o no. Si en 48 horas despues de haberse finalizado la tarea, no se ha a elegido una opción se tomará como si el estudiante estuviera de acuerdo."

		/ -if current_admin
		/ 	.col.s12.l12.top15
		/ 		%p.fontSize18
		/ 			="*Se aceptan pdf, excel, word, jpg, png, videos."



/est es solo para mostrar el modal de calificar
#modalRespuestas



