<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Parallax Template - Materialize</title>

</head>
<body class="white-background">


<%=render "partials/noticeToast" %>


  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center text-lighten-2 white-text">TASK</h1>
        <div class="row center">
          <h5 class="header col s12 light white-text">Una nueva manera de hacer tareas escolares de todos los niveles facil y rápido</h5>
        </div>
        <div class="row center">

          <%=link_to "Quiero registrarme" , new_user_registration_path, class:"btn-large" %>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="<%= asset_path('background1.jpg') %>" alt="Unsplashed background img 1"></div>
  </div>




  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="medium material-icons originalBlue-text">flash_on</i></h2>
            <h5 class="center">Tareas rápidas</h5>

            <p class="light texto_justificado">Tu decides cuando quieres la tarea y nuestros trabajadores la tendrán. Pueden ser tareas de diferentes niveles y de diferentes carreas. Tu seleccionas la propuesta que mas te guste, y ahora simplemente esperas a que llegue.</p>


          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="medium material-icons originalBlue-text">group</i></h2>
            <h5 class="center">Experiencia del usuario</h5>

            <p class="light texto_justificado">La interfaz de nuestra plataforma es completamente intuitivo y adaptable a telefonos. Nuestro diseño es completamente minimalista pensando en la interacción del usuario y su comodidad.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="medium material-icons originalBlue-text">insert_drive_file</i></h2>
            <h5 class="center">Excelentes resultados</h5>

            <p class="light texto_justificado">Nuestros trabajadores entregarán trabajos de calidad, aqui en task nos importa mucho que obtengas buenas calificaciones, por eso las tareas que aqui se entregan son de calidad y siempre buscando el 10. </p>
          </div>
        </div>
      </div>

    </div>
  </div>



  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light white-text">Deja que personas seleccionadas por ti hagan tu tarea por ti</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="<%= asset_path('trabajo4.jpg') %>" alt="Unsplashed background img 2"></div>
  </div>



  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Objetivo</h4>
          <p class="left-align light texto_justificado"> Conectar a estudiantes que necesitan tareas escolares con gente que las pueda hacer. Nuestro programa se basa en oferta demanda, es decir, el estudiante sube la tarea que necesita, los trabajadores subirán sus propuestas:costo, fecha de entrega y comentarios. El estudiante elige el que más le convenga, se le notifica al trabajador y ahora el es el elegido para subir la tarea en tiempo y forma. El estudiante solo debe esperar ahora a ser notificado cuando la tarea este lista </p>
        </div>
      </div>

    </div>
  </div>




<!--   CARD Section   -->
<div class="container topMinus5">
    <div class="section">

      <div class="row">

        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Perfiles</h4>
        </div>

        <div class="col s12 m6">
          <div class="card z-depth-2">
            <div class="card-image">
              <img height="300" src="<%= asset_path('estudiante.jpg') %>">
              <span class="card-title">Estudiante</span>
            </div>
            <div class="card-content">
              <p class="texto_justificado">Crear tareas, ver las propuestas que les ofrecen los trabajadores para dicha tarea, aceptar la propuesta que mejor le parezca y esperar a la que tarea se suba antes de la fecha seleccionada en el momento de la creación</p>
            </div>
            <div class="card-action">
              <%= link_to "Registrate" , new_user_registration_path %>
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card z-depth-2">
            <div class="card-image">
              <img height="300" src="<%= asset_path('trabajador.jpg') %>">
              <span class="card-title">Trabajador</span>
            </div>
            <div class="card-content">
              <p class="texto_justificado">Sube propuestas a las tareas que más te interesen, las propuestas deben de tener un costo, una descripción de porque debes ser elegido, y la fecha de entrega obligatoria. Si eres elegido, se abre una nueva página donde debes entregar la tarea en tiempo y forma.</p>
            </div>
            <div class="card-action">

              <%= link_to "Registrate" , work_here_path%>
            </div>
          </div>
        </div>


    </div>
  </div>
</div>


<!-- <div class="container">
  <div class="row">
    <div class="col s12 m12">
          <div class="icon-block">
            <h5 class="">¿Como funciona?</h5>

            <p class="light texto_justificado">
              1: El estudiante sube su tarea con todas las carácteristicas como nombre, fecha de entrega, documentos donde viene la tarea descrita, etc.
            </p>

            <p class="light texto_justificado">
              2: El estudiante empieza a recibir propuestas de los trabajadores, cada propuesta contiene la fecha en la que el trabajador se propone a entregarla, el costo que tendrá la tarea, y una frase. 
            </p>

            <p class="light texto_justificado">
              3: El estudiante elige la propuesta que más le convenga, y cuando la elige, en ese momento se hace el cobro al estudiante por el precio de la propuesta, el dinero se mantiene en la espera hasta que la tarea haya sido entregada.
            </p>
            
            <p class="light texto_justificado">
              4: Ahora el trabajador tiene la responsabilidad de entregar la tarea en tiempo y forma como lo indicó su propuesta.
            </p>

            <p class="light texto_justificado">
              5: El trabajador sube la tarea en tiempo y forma, y oprime el boton "finalizar tarea", con esto notifica al usuario cuando la tarea este finalizada y puede ver los archivos.
            </p>


            <p class="light texto_justificado">
              6: El estudiante ve los archivos subidos, y si esta de acuerdo oprime el botón "estoy de acuerdo" y en ese momento se hace la tranferencia del dinero que estaba en espera.
            </p>

          </div>
        </div>
  </div>
</div> -->



  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light white-text">Olvidate de las tareas que no te gustan</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="<%= asset_path('trabajo7.png') %>" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer originalBlue">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Quienes somos</h5>
          <p class="grey-text text-lighten-4">Somos un grupo de personas enfocadas en la conexión entre estudiantes y gente con ganas de hacer tareas escolares y recibir una compensación por ello. Task esta hecho para conectar y ayudar.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="white-text" href="#!">Iniciar estudiante</a></li>
            <li><a class="white-text" href="#!">Registrarse</a></li>
            <li><a class="white-text" href="#!">Avisa de privacidad</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Redes sociales</h5>
          <ul>
            <li><a class="white-text" href="#!">Facebook</a></li>
            <li><a class="white-text" href="#!">Twitter</a></li>
            <li><a class="white-text" href="#!">Instagram</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Task 2018
      </div>
    </div>
  </footer>



  </body>
</html>
