<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Parallax Template - Materialize</title>

</head>
<body class="white-background">

<%=render "partials/noticeToast" %>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center text-lighten-2 white-text">Bienvenido a Task</h1>
        <div class="row center">
          <h5 class="header col s12 light white-text">Una manera rápida y sencilla de ganar dinero</h5>
        </div>

      </div>
    </div>
    <div class="parallax"><img src="<%= asset_path('workHere1.jpg') %>" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>¿Qué necesitas?</h4>
          <center class="lighter"> Es muy sencillo, lo unico que necesitas es una CLABE donde se te harán los depositos de las ganacias, tener en mente una frase impactante que los estudiantes verán cada vez que subas una propuesta, y muchas ganas de hacer tareas escolares bien hechas y de calidad</center>
          <ul>
            <li>
              *Los pagos se hacen cada semana (las fechas ya están programadas)
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <h4 class="center"><i class="mdi-content-send">¿Como funciona ?</i></h4>
          <div class="lighter">El tasker ve las tareas que le interesen, sube una propuesta para dicha tarea, y si es elegida, en ese instante se le hace el cobro al estudiante y ese dinero se mantiene guardado, cuando el trabajador envia la tarea y el estudiante notifica que ya la recibió en ese instante ese dinero pasa a la cuenta del trabajador. Este dinero que va generando se va acumulando y cada dos semanas, se hace el deposito a la cuenta real del trabajador que proporcionó al subir sus datos, menos la comisión de task que son 17.9% + $2.50. Nuestras comisiones son mucho menores en comparación con otras plataformas y aplicaciones por ejemplo de taxis u otras diferentes.</div>
        </div>
      </div>

      <center class="col s12 l6">
        <%=link_to "Registrarme como tasker en task" , new_admin_registration_path, class:"btn-large" %>
      </center>

    </div>
  </div>




  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="medium material-icons originalBlue-text">flash_on</i></h2>
            <h5 class="center">Tareas rápidas</h5>

            <p class="light texto_justificado">Tu decides cuando quieres la tarea y nuestros trabajadores la tendrán. Pueden ser tareas de diferentes niveles y de diferentes carreas. Tu seleccionas la propuesta que mas te guste, y ahora simplemente esperas a que llegue.</p>


          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="medium material-icons originalBlue-text">group</i></h2>
            <h5 class="center">Experiencia del usuario</h5>

            <p class="light texto_justificado">La interfaz de nuestra plataforma es completamente intuitivo y adaptable a telefonos. Nuestro diseño es completamente minimalista pensando en la interacción del usuario y su comodidad.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="medium material-icons originalBlue-text">settings</i></h2>
            <h5 class="center">Excelentes resultados</h5>

            <p class="light texto_justificado">Nuestros trabajadores entregarán trabajos de calidad, aqui en task nos importa mucho que obtengas buenas calificaciones, por eso las tareas que aqui se entregan son de calidad y siempre buscando el 10. </p>
          </div>
        </div>
      </div>

    </div>
  </div>



  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light white-text">Deja que personas seleccionadas por ti hagan tu tarea</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="<%= asset_path('workHere2.jpg') %>" alt="Unsplashed background img 2"></div>
  </div>



  <footer class="page-footer originalBlue">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Quienes somos</h5>
          <p class="grey-text text-lighten-4">Somos un grupo de personas enfocadas en la conexión entre estudiantes y gente con ganas de hacer tareas escolares y recibir una compensación por ello. Task esta hecho para conectar y ayudar.</p>

        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><%=link_to "Iniciar estudiante" , new_user_registration_path, class:"white-text" %></li>
            <li><%=link_to "Registrarse" , new_user_registration_path, class:"white-text" %></li>
            <li> <a target="_blank" class="white-text" href="https://s3.amazonaws.com/taskhomework/task.pdf">Aviso de privacidad</a> </li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Redes sociales</h5>
          <ul>
            <li><a class="white-text" href="#!">Facebook</a></li>
            <li><a class="white-text" href="#!">Twitter</a></li>
            <li><a class="white-text" href="#!">Instagram</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Task 2018
      </div>
    </div>
  </footer>



  </body>
</html>
