<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class='row'>
    <div class="input-field col s12 l6">
      <%= f.text_field :name, class:"", id:"name" %>
      <%= f.label "Nombre", class:"", for:"name" %>
    </div>
    <div class="input-field col s12 l6">
      <%= f.text_field :last_name, class:"", id:"last_name" %>
      <%= f.label "Apellido", class:"", for:"last_name" %>
    </div>
  </div>

  <div class="row">
     <div class='input-field col s12'>
      <%= f.email_field :email, class:"", id:"email",placeholder:"Correo de tu cuenta PayPal"  %>
      <%= f.label "Correo", class:"",for:"email" %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.password_field :password, class:"", id:"password" %>
    <%= f.label "Contraseña", class:"", for:"password" %>
    </div>
  </div>


  <div class="row">
    <div class="input-field col s12">
      <%= f.password_field :password_confirmation, class:"", id:"r_password" %>
    <%= f.label "Confirmar contraseña", class:"", for:"r_password" %>
    </div>
  </div>

  <center>
    <p class="fecha_pequena">Al registrarse aceptas nuestro
      <a target="_blank" href="https://s3.amazonaws.com/taskhomework/task.pdf">Aviso de privacidad</a>
      <br>
      y nuestros
      <a target="_blank" href="https://s3.amazonaws.com/taskhomework/terminos_y_condiciones.pdf">Términos y condiciones</a>
    </p>
  </center>

  <br />

  <center>
    <div class='row'>
      <%= f.submit "Registrar", class:'col s12 btn btn-large indigo' %>
    </div>
  </center>


<% end %>

<%= render "admins/shared/links" %>
