= form_for @admin do |f|
  - if @admin.errors.any?
    #error_explanation
      %h4.text-center.red-text= "#{pluralize(@user.errors.count, "error")} prohibited this worker from being saved:"
      %ul.text-center
        - @admin.errors.full_messages.each do |message|
          %li= message


  .row.center-align
    .col.s10.offset-s1

      .row.center-align.top15


        .div.input-field.col.s12.l4
          = f.text_field :name, autofocus: true, class:"" ,id:"name"
          = f.label "Nombre", class:"blue-text", for:"name"

        .div.input-field.col.s12.l4
          = f.text_field :last_name, autofocus: true, class:"" ,id:"name"
          = f.label "Apellidos", class:"blue-text", for:"name"

        .div.input-field.col.s12.l4
          = f.text_field :email, autofocus: true, class:"" ,id:"email"
          = f.label "Correo", class:"blue-text", for:"email"


        .div.col.s12.l4
          %div.file-field.input-field
            %div.btn
              %span
                Foto perfil
              =f.file_field(:avatar, class: '')
            %div.file-path-wrapper
              %input.file-path.validate{:type => "text"}

        .div.input-field.col.full-width
          = f.text_area :phrase,id:"textarea1", class:"anchoLetra materialize-textarea",placeholder: "Como harás la tarea, porque debe elegirte a ti, etc.",value: @phrase
          = f.label "Frase", class:"blue-text",for:"textarea1"



      .actions.top-space2
        = f.submit "Guardar", class:"btn full-width"



%br
%br
%br











