.card.z-depth-2
  .card-content
    %span.card-title.parent-flex

      %img{:align => "middle", :alt => "Smiley face", :height => "50", :src => "#{proposal.admin.avatar.url}", :width => "50", :class => "circle cover materialboxed"}
      = proposal.admin.name + " "
      = proposal.admin.last_name


    .parent-flex

      %div
        %b
          ="Rango:"
        = proposal.admin.rank.round(2)

      %div.left15
        %b
          ="Número de tareas:"
        = proposal.admin.proposals.where(status: 3).count


    %p.top15
      %b
        ="Notas:"
    = simple_format(proposal.notes)

    .parent-flex

      %div.top15
        %b
          ="Costo:$"
        = proposal.cost

      %div.top15.left15
        %b
          ="Fecha de entrega:"
        = fechaBonita proposal.deadline

      -if proposal.classroom
        %div.top15.left15
          %b.red-text
            ="Elegido!"

    -if current_user && !proposal.homework.classrooms.first
      %div.top15
        =link_to "Elegir", select_proposal_paypal_path(admin_id: proposal.admin.id, homework_id: proposal.homework.id, proposal_id: proposal.id),data: { confirm: 'Estas seguro de elegir esta propuesta? Se te redirigirá a paypal para pagar con tarjeta de credito o debito (se cargará la comisión de paypal al precio).' } , class:"btn selectProposal"
        /=render "partials/buttonPaypal", price: proposal.cost , admin_id: proposal.admin.id, homework_id: proposal.homework.id, proposal_id: proposal.id, homework_name: proposal.homework.name
