.card.z-depth-2
  .card-content
    %span.card-title.parent-flex

      %img{:align => "middle", :alt => "Smiley face", :height => "50", :src => "#{proposal.admin.avatar.url}", :width => "50", :class => "circle cover materialboxed"}
      = proposal.admin.name + " "
      = proposal.admin.last_name


    .parent-flex

      %div
        %b
          ="Rango:"
        = proposal.admin.rank.round(2)

      %div.left15
        %b
          ="Número de tareas:"
        = proposal.admin.proposals.where(status: 3).count


    %p.top15
      %b
        ="Notas:"
    = simple_format(proposal.notes)

    .parent-flex

      %div.top15
        %b
          ="Costo:$"
        = proposal.cost

      %div.top15.left15
        %b
          ="Fecha de entrega:"
        = fechaBonita proposal.deadline

      -if proposal.classroom
        %div.top15.left15
          %b.red-text
            ="Elegido!"

    -if current_user && !proposal.homework.classrooms.first
      %div.top15
        =link_to "Elegir",classrooms_path(homework_id: proposal.homework.id, admin_id: proposal.admin.id, proposal_id: proposal.id, user_id: current_user.id),method: :post,data: { confirm: 'Estás seguro de aceptar esta propuesta para tu tarea ? Al momento de elegir se te cobrará el costo de esta propuesta y el dinero se mantendrá en espera hasta que recibas tu tarea. El cobro se hará a tu tarjeta registrada' },class:"pink-text", class:"btn"
