%body.white-background

= render "partials/noticeToast"

%h4.text-center
	="Nueva propuesta"

%h5.text-center
	="Tarea:#{@homework.name}"
%center
	%div
		="Fecha de entrega: #{fechaBonita @homework.deadline}"
	%div
		= "Precio: $" + @homework.minPrice.to_s + " - $" + @homework.maxPrice.to_s


= render 'form'
