= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h4.text-center.red-text= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul.text-center
        - @user.errors.full_messages.each do |message|
          %li= message


  .row.center-align
    .col.s10.offset-s1

      .row.center-align


        .div.input-field.col.s12.l4
          = f.text_field :name, autofocus: true, class:"" ,id:"name"
          = f.label "Name", class:"blue-text", for:"name"

        .div.input-field.col.s12.l4
          = f.text_field :firs_last_name, class:"", id:"firs_last_name"
          = f.label "Last name", class:"blue-text" , for:"firs_last_name"

        .div.input-field.col.s12.l4
          = f.text_field :second_last_name, class:"" , id:"second_last_name"
          = f.label "Middle name", class:"blue-text" , for:"second_last_name"

        .div.input-field.col.s12.l4
          = f.text_field :email, autofocus: true, class:"" ,id:"email"
          = f.label "Email", class:"blue-text", for:"email"

        .div.col.s12.l4
          %div.file-field.input-field
            %div.btn
              %span
                Foto perfil
              =f.file_field(:avatar, class: '')
            %div.file-path-wrapper
              %input.file-path.validate{:type => "text"}



        /TARJETA DE CREDITO
        .col.s12.l12.offset-s1.top15.bottom30.border-line-creditcard

          %center
            %h5 Tarjeta credito/debito

          %img{:align => "middle", :alt => "Smiley face", :height => "30", :src => "#{asset_path('cards1.png')}", :class => ""}

          %img{:align => "middle", :alt => "Smiley face", :height => "30", :src => "#{asset_path('cards2.png')}", :class => ""}


          -if current_user.card_id
            %center
              %p
                ="Ya tienes una tarjeta agregada con token: #{current_user.card_id[0,5] + "...."}"
                ="Si quieres cambiar tu tarjeta, llena nuevamente los datos con la nueva tarjeta"
                ="Por temas de seguridad no mostramos información de la tarjeta antes mencionada."

        .div.col.s12.l4
          = label_tag('card', 'Credit Card Number:')
          = text_field_tag('card', nil, maxlength: 20, autocomplete: 'off', autofocus: true)

        .div.col.s12.l4
          = label_tag('cc-cvc', 'CVC:')
          = text_field_tag('cc_cvc', nil, maxlength: 4, autocomplete: 'off')


        .div.col.s12.l4
          = label_tag('cc-exp-month', 'Expiry Date:')
          .row
            .div.col.s12.l6
              = select_month(Date.new(Date.today.year, 1).beginning_of_month, {use_two_digit_numbers: true}, {id: 'cc-exp-month'})
            .div.col.s12.l6
              = select_year(Date.today, {start_year: Date.today.year, end_year: Date.today.year+10}, {id: 'cc-exp-year'})



      .actions.top-space2
        = f.submit "Guardar", class:"btn full-width"



%br
%br
%br
%br
%br
%br










