= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h4.text-center.red-text= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul.text-center
        - @user.errors.full_messages.each do |message|
          %li= message


  .row.center-align
    .col.s10.offset-s1

      .row.center-align


        .div.input-field.col.s12.l4
          = f.text_field :name, autofocus: true, class:"" ,id:"name"
          = f.label "Name", class:"blue-text", for:"name"

        .div.input-field.col.s12.l4
          = f.text_field :firs_last_name, class:"", id:"firs_last_name"
          = f.label "Last name", class:"blue-text" , for:"firs_last_name"

        .div.input-field.col.s12.l4
          = f.text_field :second_last_name, class:"" , id:"second_last_name"
          = f.label "Middle name", class:"blue-text" , for:"second_last_name"


        .div.col.s12.l4
          %div.file-field.input-field
            %div.btn
              %span
                Foto perfil
              =f.file_field(:avatar, class: '')
            %div.file-path-wrapper
              %input.file-path.validate{:type => "text"}



        /TARJETA DE CREDITO
        / .col.s12.l12.offset-s1.top15.bottom30.border-line-creditcard

        /   %center
        /     %h5 Tarjeta credito/debito


        / .div.col.s12.l4
        /   = label_tag('card', 'Credit Card Number:')
        /   = text_field_tag('card', nil, maxlength: 20, autocomplete: 'off', autofocus: true)

        / .div.col.s12.l4
        /   = label_tag('cc-cvc', 'CVC:')
        /   = text_field_tag('cc-cvc', nil, maxlength: 4, autocomplete: 'off')


        / .div.col.s12.l4
        /   = label_tag('cc-exp-month', 'Expiry Date:')
        /   .row
        /     .div.col.s12.l6
        /       = select_month(Date.new(Date.today.year, 1).beginning_of_month, {use_two_digit_numbers: true}, {id: 'cc-exp-month'})
        /     .div.col.s12.l6
        /       = select_year(Date.today, {start_year: Date.today.year, end_year: Date.today.year+10}, {id: 'cc-exp-year'})




        / - if(current_user.stripe_customer_token)
        /   .div.col.s12.l12
        /     = form_tag charges_path do
        /       %article
        /         - if flash[:error].present?
        /           #error_explanation
        /             %p= flash[:error]
        /         /
        /           <label class="amount">
        /           <span>Amount: $5.00</span>
        /           </label>
        /       %script.stripe-button{"data-amount" => "500", "data-description" => "Tarjeta de pago", "data-email" => "#{current_user.email}", "data-key" => "#{Rails.configuration.stripe[:publishable_key]}", "data-label" => "Subir tarjeta", "data-locale" => "auto", :src => "https://checkout.stripe.com/v2/checkout.js"}


      .actions.top-space2
        = f.submit "Guardar", class:"btn full-width"



%br
%br
%br
%br
%br
%br










